<!doctype html>
<html>
	<title>HappyDev 2014 Workshop</title>
	<link rel="stylesheet" href="/static/main.css">
	<link rel="stylesheet" href="/static/mocha.css">
	<script src="/static/js/bundle.js"></script>
	<script src="/static/js/mocha.js"></script>
	<body>
		<header class="b-header">

		</header>
		<section role="main" class="b-main">
			<h1>Hello Happydev '14</h1>
		</section>
		<section id="mocha">

		</section>
	</body>
</html>