body {
  background-color: #30b2e3;
  padding: 0;
  margin: 0;
  color: #fff;
}
.b-header {
  height: 40px;
  border-bottom: 2px dashed #fff;
}
.b-main {
  width: 960px;
  margin: auto;
  padding: 20px 0;
}
